<?xml version="1.0"?>

<launch>
    <arg name="room" default="automap" /> 
    <arg name="custom_graph_path" default="" /> 

    <node pkg="tuw_voronoi_graph" type="tuw_voronoi_graph_node" name="graph_generator" output="screen">
        <param name="graph_cache_path" value="$(find tuw_voronoi_graph)/cfg/graph/$(arg room)/cache/" />
        <param name="custom_graph_path" value="$(arg custom_graph_path)" />
        <rosparam command="load" file="$(find tuw_voronoi_graph)/cfg/graph/$(arg room)/graph.yaml"/>
        <param name="segment_length" value="3.0" /> 
          <param name="opt_end_segments" value="5.0" />
          <param name="opt_crossings" value="5.0" />
        <remap from='/map' to='/voronoi/map'/>
    </node>

    <node pkg="map_server" type="map_server" name="map_server" args="$(find tuw_voronoi_graph)/cfg/maps/$(arg room)/map.yaml">
            <remap from='/map' to='/voronoi/map'/>
    </node>


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tuw_multi_robot_demo)/cfg/rviz/cave.rviz" output="screen"/>

    
</launch>
